@model FeelingSpa.Web.ViewModels.Search.SearchCategoriesListViewModel
@{
    ViewData["Title"] = "Search salons by category";
}
<div class="alert alert-info" role="alert">
    <h1 class="text-center">@this.ViewData["Title"]</h1>
</div>
<hr />
    <form asp-action="List" method="get">
        <div class="row">
            @foreach (var category in Model.Categories)
            {
                <div class="col-3 text-center">
                    <input id="category_@category.Id"
                           type="checkbox"
                           name="Categories"
                           value="@category.Id"
                           class="form-control" />
                    <label for="category @category.Id">@category.Name</label>
                </div>
            }
        </div>
        <div class="col-md-2 offset-5">
                <button class="btn btn-primary">Search</button>
            </div>
    </form>
