@*@model FeelingSpa.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}*@

@using FeelingSpa.Common
@{
    this.ViewData["Title"] = "Admin Dashboard";
}

<h3>Welcome to Admin Dashboard!</h3>
<p>Here is a quick navigation:</p>
<div>
    <a asp-area="Administration" asp-controller="Salons" asp-action="All"
       class="list-group-item list-group-item-action bg-light">Salons</a>

    <div class="ml-5 my-2">
        <a class="btn btn-outline-info btn-sm" asp-area="Administration" asp-controller="Salons" asp-action="Create">Create Salon</a>
    </div>
    <div class="ml-5 my-2">
        <a class="btn btn-outline-info btn-sm" asp-area="Administration" asp-controller="Salons" asp-action="All">Salons</a>
    </div>
    
    <a asp-area="Administration" asp-controller="Categories" asp-action="All"
       class="list-group-item list-group-item-action bg-light">Categories</a>

    <dvi class="ml-5 my-2">
        <a class="btn btn-outline-info btn-sm" asp-area="Administration" asp-controller="Categories" asp-action="Create">Create Category</a>
    </dvi>
    <dvi class="ml-5 my-2">
        <a class="btn btn-outline-info btn-sm" asp-area="Administration" asp-controller="Categories" asp-action="All">Categories</a>
    </dvi>
    
    <a asp-area="Administration" asp-controller="Services" asp-action="Create"
       class="list-group-item list-group-item-action bg-light">Services</a>

    <div class="ml-5 my-2">
        <a class="btn btn-outline-info btn-sm" asp-area="Administration" asp-controller="Services" asp-action="Create">Create Service</a>
    </div>
    <a asp-area="Administration" asp-controller="Cities" asp-action="Create"
       class="list-group-item list-group-item-action bg-light">Cities</a>

    <div class="ml-5 my-2">
        <a class="btn btn-outline-info btn-sm" asp-area="Administration" asp-controller="Cities" asp-action="Create">Create City</a>
    </div>
    <a asp-area="Administration" asp-controller="BlogPosts" asp-action="All"
       class="list-group-item list-group-item-action bg-light">Blog Posts</a>

    <div class="ml-5 my-2">
        <a class="btn btn-outline-info btn-sm" asp-area="Administration" asp-controller="BlogPosts" asp-action="Create">Blog Posts</a>
    </div>
</div>
